
/***
***
*** 'assets' is resolved to <themeDir>/assets
***/
/*
    @font-face {
        font-family: "Fontname";
        src: url("@assets/fonts/Fontname.woff2") format("woff2"),
        url("@assets/fonts/Fontname.woff") format("woff");
        font-display: swap;
        font-weight: bold;
  }
*/

html {
    font-size: 16px;
    /* word-spacing: 1px; */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
  }
  body {
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
